* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.error {
    color: #af2124;
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
}


body {
    height: 100vh;
    background: linear-gradient(120deg, #cdc9f8, #b7b1eb);
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width: 900px;
}


.card {
    display: flex;
    padding-right: 180px; 
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(15px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* FORMULARIO */
.form-box {
    width: 100%;
    padding: 40px;
    background: linear-gradient(135deg, #8D86C9, #9067C6);
    color: white;
    border-radius: 25px;
}

/* TÍTULO */
.form-box h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

/* INPUTS */
.form-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.input-group {
  position: relative;
  margin-bottom: 18px;
}

.input-group input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 25px;
  border: none;
  outline: none;

  background: #cdcfd1;   
  color: #333;
  font-size: 15px;
}


.input-group label {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #424242;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s ease;
  background: transparent;
}


.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 12px;
  color: #ffffff;
  background: linear-gradient(135deg, #8D86C9, #9067C6);
  padding: 0 6px;
  border-radius: 10px;
}

.input-group input:focus,
.input-group input:not(:placeholder-shown) {
  background: #ffffff;
}


/* BOTÓN */
.form-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: white;
    color: #8358bb;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}

.form-box button:hover {
    background: #f0f0f0;
}

/* TEXTO LOGIN */
.login-text {
    margin-top: 20px;
    font-size: 14px;
}

.login-text a {
    color: rgb(6, 1, 36);
    font-weight: bold;
    text-decoration: none;
}

.g-recaptcha {
  margin: 15px 0 20px;
  transform: scale(0.85);          
  transform-origin: left top;     
}